/* footer.scss */

.footer_colwrap {
  margin-top: 30px;
  margin-left: 30px;
  flex-direction: column !important;
	display: flex;
	width: 100%;
	padding: 5px;

  @media (max-width: 560px) {
    padding: 0px !important;
    margin: 0 !important;

    .wp-block-moduuli-somerow {
      width: inherit !important;
      margin-top: -10px !important;
    } 
  }
}

#colophon {
  padding: 10px;

  @media (max-width: 560px){
    padding: 15px;
    text-align: left !important;   
    margin-left: 0 !important;
  }
  #footercol {
    display: inline-flex;

    @media (max-width: 560px) {
      padding: 0 !important;
      .has-text-align-center, .has-text-align-right {
      text-align: left !important; } 
    }
    h4 {
    margin: 0px;
    padding-bottom: 5px;
}}

  .wp-block-moduulit-somerow  ul li a span:hover {
    color: $color-tertiary;
   }
   
        background: $footer-c;
        min-height: 220px;
        color: $footer-t;
        padding: 1em;

  .dashicons {
    color: $link-b;
    transition: 0.3s ease;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
        .footer-wrapper {
          max-width: $m-w;
          margin-top: 70px;
          display: flex;
          min-width: 270px;
          
          @media (max-width: 560px)
          { 
              flex-direction: column;
              margin: 0 auto;
              width: inherit;
          }
            
          #footercol {
            display: block !important;
            width: 100%;
            padding: 10px;
          }
          .footer-col-3 {
            align-self: flex-end;
          }
          p,  a {
            padding-bottom: 0px;
            margin-top: -6px;
            font-size: 14px; 
              }
          }
      }


        .footer-col-1, .footer-col-2, .footer-col-3 {
          min-width: 33%;

          @media (max-width: 560px) {
            font-size: 14px;
          }
        
                p, span {
                color: $footer-t;
        }
        a {
                color: $color-fourth;
                transition: $ease;

                &:hover {color: $light; }
        }

        h4 {
          width: inherit;
        }}




.site-info {
        h3 {
          color: $main;
          font-family: $base-fh;
          font-weight: 400;
          text-align: center;
          margin: 0 auto;
          padding-top: 50px;
      
          -webkit-animation: glow 2s ease-in-out infinite alternate;
        -moz-animation: glow 2s ease-in-out infinite alternate;
        animation: glow 2s ease-in-out infinite alternate;
        }
      }
      @keyframes glow {
        from {
          text-shadow: 0 0 5px $light, 0 0 8px $light, 0 0 12px $color-fourth, 0 0 16px $color-fourth, 0 0 20px $color-fourth, 0 0 24px $color-fourth, 0 0 28px $color-fourth;
        }
        to {
          text-shadow: 0 0 5px $light, 0 0 9px $color-tertiary, 0 0 14px $color-tertiary, 0 0 18px $color-tertiary, 0 0 22px $color-tertiary, 0 0 26px $color-tertiary, 0 0 31px $color-tertiary;
        }
      }

 